<section
  class="w-full text-gray-700 bg-white"
  {!!
  $attributes
  ??
  ''
  !!}>
  <div class="container flex flex-col flex-wrap justify-between py-5 px-6 mx-auto md:flex-row max-w-6xl">
    <div class="relative flex flex-col md:flex-row">
      <a href="/" class="flex mb-3 font-medium text-gray-900 lg:w-auto lg:justify-en md:mb-0">
        <span class="text-xl font-bold leading-none text-gray-900 select-none">Matt Kevan
        </span>
      </a>

    </div>

    <div class="inline-flex space-x-6 lg:justify-end">
      <nav class="flex flex-wrap text-base md:mb-0">
        <a href="/articles/" class="mr-5 font-medium leading-6 text-gray-600 hover:text-gray-900">Articles</a>
        <a href="/projects/" class="mr-5 font-medium leading-6 text-gray-600 hover:text-gray-900">Projects</a>
        <a href="/work/" class="mr-5 font-medium leading-6 text-gray-600 hover:text-gray-900">Work</a>
        <a href="/artwork/" class="mr-5 font-medium leading-6 text-gray-600 hover:text-gray-900">Artwork</a>
        <a href="/about/" class="font-medium leading-6 text-gray-600 hover:text-gray-900">About</a>

      </nav>
    </div>
  </div>
</section>