<div class="">
  {% if banner and banner != "" %}
    <div class="py-10 bg-cover h-[50vh] md:h-[60vh] bg-center border-y border-[#000] random-pattern"></div>
  {% else %}
  <div class="h-[30px] border-y border-[#000] random-pattern"></div>

  {% endif %}
</div>