<div class="">
  {% if banner and banner != "" %}
    <div class="py-10 bg-cover h-[50vh] md:h-[60vh] bg-center border-y border-[#000]" style="background-image: url('{{ banner }}');"></div>
  {% else %}
<div x-data="randomBackground()"
     class="h-[30px] border-b border-[#000] mb-12"
     x-init="init()"
     :style="'background-image: url(\'/images/patterns/' + imageNumber + '.png\')'">
</div>

  {% endif %}
</div>