<div class="">
  {% if banner and banner != "" %}
    <div class="py-10 bg-cover h-[50vh] md:h-[60vh] bg-center border-y border-[#000]" style="background-image: url('{{ banner }}');"></div>
  {% else %}
    <div x-data
      class="h-[32px] border-y border-[#000]"
      :style="'background-image: url(\'/images/patterns/' + $store.background.imageNumber + '.png\')'">
    </div>



  {% endif %}
</div>