<div class="mb-12">
  {% if banner and banner != "" %}
    <div class="mb-5 py-10 bg-cover h-[60vh] bg-center" style="background-image: url('{{ banner }}');"></div>
  {% else %}
    <hr>
  {% endif %}
</div>