<div class="tags">
  {% for tag in item.data.tags %}
    <span class="inline-flex items-center rounded-md bg-pink-100 px-2 py-1 text-xs font-medium text-pink-700">{{ tag }}</span>
  {% endfor %}
</div>