<div class="tags">
  {% for tag in item.data.categories %}
    <span class="inline-flex items-center border px-2 py-1 text-xs font-medium border-[#000] rounded-full">{{ tag }}</span>
  {% endfor %}
</div>