---
layout: default
seo:
  type: Product
---

<div class="row">

	<div class="product col-12 col-lg-8">
		<div class="artwork-image mb-5">
	    <img src="https://ik.imagekit.io/dreamco/{{ page.image }}.png" class="full">
</div>


		<div class="product-purchase d-lg-none">
			{% include product-purchase.html %}
		</div>

		<div class="product-info">
			<div class="excerpt">{{ page.excerpt }}</div>
			<div class="detail">
			</div>

		</div>

	</div><!--/product-->

	<div class="product-purchase col-lg-4 d-none d-lg-block  ">
		<div class="sticky-top">
			{% include product-purchase.html %}
		</div>
	</div>

</div>



