<!DOCTYPE html>
<html class="classic-mono-scrollbars">

  {% include 'head' %}

  <body hx-boost="true" hx-indicator=".loader">
    {% include 'header' %}
    {{ content }}
    {% include 'footer' %}
  </body>

</html>