---
layout: page
title: Projects
description: "I've worked on tons of personal projects over the years, but these are the ones I'm most proud of."
permalink: /projects/
page-bg: "/images/patterns/16.svg"
eleventyExcludeFromCollections: true
---

<div class="max-w-3xl mx-auto grid gap-6 lg:gap-12">
	{% assign gallery-sorted = collections.Project | sort: 'date' | reverse %}
	{% for item in gallery-sorted %}
		{% if item.data.featured == "True" %}
			{% include 'project-card' %}
	  	{% endif %}
	{% endfor %}
</div>

<div class="max-w-3xl mx-auto grid gap-6 lg:gap-12">
	{% for item in gallery-sorted %}
		{% if item.data.featured == "False" %}
			{% include 'project-card' %}
	  {% endif %}
	{% endfor %}
</div>

