---
layout: page
title: Projects
description: "I've worked on tons of personal projects over the years, but these are the ones I'm most proud of."
permalink: /projects/
page-bg: "/images/patterns/16.svg"
eleventyExcludeFromCollections: true
---

<div class="max-w-3xl mx-auto">
	{% assign gallery-sorted = collections.Project | sort: 'date' | reverse %}
	{% for item in gallery-sorted %}
		{% if item.data.featured == "True" %}
			{% include 'project-card' %}
	  	{% endif %}
	{% endfor %}
</div>

<div class="max-w-3xl mx-auto">
	{% for item in gallery-sorted %}
		{% if item.data.featured == "False" %}
		<div class="border border-[#000] flex shadow-line mb-6 lg:mb-12 bg-white">
			
			<div class="p-4 lg:p-6 border-r border-[#000] flex-none ease-in-out duration-200">
				<a href="{{ item.url }}">
				{% assign imgsplit = item.data.image | split: '/' %}
				<img
					src="{{ item.data.logo}}"
					alt="{{ item.data.title }}"
					class="w-20 lg:w-24 ease-in-out duration-200">
				</a>
			</div>
			
			<div class="w-full"> 
				<div class="p-6 border-b border-[#000] w-full">
					<h4 class="text-xl lg:text-2xl mb-2"><a href="{{ item.url }}" class="hover:underline">{{ item.data.title }}</a></h4>
					<p class="text-[#000]">{{ item.data.description }}</p>
				</div>
				<div class="p-4">
					{% include 'tags' %}
				</div>
			</div>
	  </div>
	  {% endif %}
	{% endfor %}
</div>

