@font-face {
    font-family: 'Neue Machina';
    src: url('/css/fonts/PPNeueMachina-InktrapUltrabold.woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Neue Machina';
    src: url('/css/fonts/PPNeueMachina-InktrapMedium.woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Neue Machina';
    src: url('/css/fonts/PPNeueMachina-InktrapLight.woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Safiro';
    src: url('/css/fonts/safiro-bold-webfont.woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Safiro';
    src: url('/css/fonts/safiro-medium-webfont.woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Safiro';
    src: url('/css/fonts/safiro-regular-webfont.woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @keyframes reverseMoveBackground {
    0% { background-position: 0 0; }
    100% { background-position: -2000px 0; }
}

@keyframes moveBackground {
    0% { background-position: -2000px 0;}
    100% {background-position: 0 0;}
  }
  
  .loader {
    animation: moveBackground 2s linear infinite;
    background-image: url('/images/gradient.svg');
    background-repeat: repeat-x;
    height: 30px;
    width: 100%;
  }
  .loader {
    opacity: 0;
  }
  .htmx-request .loader {
    opacity: 1;
  }
  .htmx-request.loader {
    opacity: 1;
  }
  .scroller {
    transition: background-position 0.1s linear; /* Adjust duration and easing as needed */
}
body {
  cursor: url('/images/cursor.png'), default;
}
a:link {
  cursor: url('/images/hover.png'), pointer;
}