
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import "../_sass/variables";
@import "../_sass/bootstrap/bootstrap";

body {
  color: #3a4049;
  -webkit-font-smoothing: auto;
}

hr {
    margin-top: 2rem;
    margin-bottom: 3rem;
    clear: both;
}

a {color: #3a4049;}

a:hover {
	text-decoration: underline;
}
.xs,
.content p.xs {
	font-size: 12px;
}
h1, h2, h3, h4, h5 {
  font-family: "Hanken Grotesk", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: normal;
  color: #15171a;
}
h1 a,h2 a,h3 a,h4 a ,h5 a  {
  color: #15171a;
}

h1 {
	//text-transform: uppercase;
	//line-height: 1em;
	padding-top: 0;
	font-size: 2.5em;
	
	@include media-breakpoint-up(md) { 
		font-size: 3.5em;
	}
}

h2.title {
}

.post {
	h2, h3, h4 {
		margin: 1.75rem 0 .75rem 0;
	}
	a {text-decoration: underline;}

	h4 { clear: left;}
}
.content {
	p, li {font-size: 1.125rem;}
	li {margin-bottom: 5px;}
}

.sticky-top {
	top: 30px;
}

.navbar-brand {
  font-size: 1em;
}
a.header-brand,
.navbar-brand a:hover {
	text-decoration: none;
}


img.logo {
}
.logo {
  line-height: 1em;
  display: inline-block;
  padding: 0;
  margin-top: -5px;
  margin-right: 10px;
  height:30px;
  animation: cyc 30s infinite;
  width: 40px!important;
  height: 20px !important;
  img {width: 40px;}
}

@keyframes cyc {
  0% { background-color:  #FFFF00; }
  33% { background-color: #FF00FF; }
  66% { background-color: #00FFFF; }
  100% { background-color:#FFFF00; }
}	
.navbar {
  border: none;
}
.navbar-light .navbar-toggler {
	border: none;
	color: #000;
}
.navbar-light .navbar-toggler-icon {
	color: #000;
}
.page {
	margin-top: 60px;
}
.post {
  img {width: 100%;}
}
.grid-item {
	img {width:100%;}
	margin-bottom: 30px;
}

.full {
	width: 100%;
}

.main {
	p a {
	 text-decoration: underline;
	}
}
.feature {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.feature-card {
	margin: 6rem 0;
	padding: 3rem 3rem 2rem 3rem;
}
.meta {color: #666;}

p.caption {
	//font-style: italic;
	text-align: center;
	margin-bottom: 30px;
	font-size: 14px;
	color: #555;

}
.teaser  {
	img {width: 100%;}
	.meta {color: #666;
		margin-bottom: 0;}
	.card-title {
		margin-bottom: .5rem;
	}
	p {margin-bottom: .5rem;}
}
.teaser-small {
	margin-bottom: 30px;
	.card-title {
		font-size: 20px;
		line-height: 26px;
	}
}
.teaser-xsmall {
		.card-title {
		font-size: 20px;
	}
}
.teaser-large {
	p.intro {
		font-size: 18px;
	}
}
.product-purchase {
	p {margin-bottom: 0;}
    h1 {font-size: 2em;}
    .details {
        margin-bottom: 0;
        width: 50%;
        float: left;
    }
    .hide {display: none;}
    .price {
        font-size: 1.6em;
        font-weight: 700;
    }
    hr {
    	margin: 1.2em 0;
    }
	.proposition {
        ul {
            margin: 0;
            padding: 0;
        }
        li {
            list-style-type: none;
            margin-bottom: 5px;
        }
        .bi-check {
        	color: #000;
        }
    }
}

.grid {


	.half {
		width: 45%;
	}
	.third {
		width: 33.3%;
	}
}
.wide{
	  width: 100%;
	  position: relative;


	@include media-breakpoint-up(md) { 

			  width: 80vw;
	  left: calc(-1 * (80vw - 100%) / 2);

	}


}

.tag {
	box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 20px 0px;
	padding: 5px 10px;
	border-radius: 8px;
	font-size: 14px;
}

.square {
	margin-bottom: 30px;
	img {width: 100%;}
}

.gallery-box {
	margin-top: 30px;
}

.btn.btn-default {
	background:  none;
	border-radius:0;
	border-width: 2px;
	border-color: #D50063;
	color: #D50063;
	&:hover {text-decoration:underline;}
}

.social {
	margin-top: 30px;
}
.card {
	border: none;
	background-color: transparent;
	.img-full {width: 100%;}
}

.card {
	.image {
		height: 200px;
		background-size:cover;
		background-position: center;
		background-repeat: no-repeat;
	}
}

.og-image {
	max-height: 175px;

	text-align: center;
	img {
		width: 100%;
		height: 100%;
		display: block;
		margin: 0 auto 20px auto;
	}
}
p.lead {
	clear: both;
	//padding-top: 30px;
	font-weight: normal;
}

.pg {
	padding-bottom:20px;
	text-align: left;
	&.next {
		text-align: right;
	}
}
.subscribe-frame {
	border-radius: 20px;
}
.floating-subscribe-button {
	position: fixed;
	bottom: 30px;
	right: 30px;
	border-radius: 999px;
	padding: 20px 20px 20px 50px;
	z-index: 9999999;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 16px -2px;
	background-image: url("/assets/mail-light.svg");
	background-repeat: no-repeat;
	background-position: 15px center;
	background-size: 30px;

	.icon { 
		color: #fff;
		width: 20px;
	}
}

.snipcart-modal__container,
.snipcart-cart-summary--edit.snipcart-modal__container {
	z-index: 5000 !important;
}
.snipcart,
.snipcart__font--std,
.snipcart__font--regular,
.snipcart__font--secondary, 
.snipcart__font--subtitle, 
.snipcart__font--subtitle-small {
	font-family: $font-family-base !important;
	font-weight: normal;
}

.snipcart-base-button__label {
	font-family: $font-family-base !important;
	font-weight: 700;
}	

.page-banner {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    width: 100vw;
    left: calc(-1 * (100vw - 100%) / 2);
    //margin-bottom: 80px;
    height: 500px;
}

h1.title {
	text-align: center;
	margin:0;
}

.navbar-light .navbar-nav .nav-link {
	color: #000;
	svg {margin-top: -5px;}
}
// Footer
.newsletter-wrap {
		border-width: 1px 0 0 0;
	border-color: rgb(221,221,221);
	border-style: solid;
	padding:60px 0 0 0;
	text-align: center;
}
.site-footer {
    background-color: rgb(247,247,247);
	border-width: 1px 0 0 0;
	border-color: rgb(221,221,221);
	border-style: solid;
	margin-top: 60px;
	font-size: 14px; 

	h3 { 
		font-weight: normal;
	}

    h4 {font-size: 16px;}

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        list-style-type: none;
        padding: 0;
        margin: 0 0 5px 0;
    }

    .footer-bottom {
		border-width: 1px 0 0 0;
		border-color: rgb(221,221,221);
		border-style: solid;
    }
}

.newsletter-block {
	max-width: 300px;
	margin: 0 auto;

}


.link-preview {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 20px;
}
a.link-preview__link {
  text-decoration: none;
  &:hover {
  	background-color: rgba(0, 0, 0, 0.1);
  }
}
.link-preview__wrapper {
  display: flex;
  flex-wrap: wrap;
}
.link-preview__content {
  box-sizing: border-box;
  padding: 20px;
  flex: 1 1 270px;
  min-width: 270px;
  height: 168px;
  display: flex;
  align-content: flex-end;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.link-preview__title {

  max-height: 40px;
  font-size: 20px;
  overflow: hidden;

  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.link-preview__description {
  margin-top: 8px;
  line-height: 20px;
  font-weight: 400;
  min-width: 240px;
  max-height: 40px;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-size: 16px;
}
.link-preview__domain {
  margin-top: 12px;
  color: hsl(221, 10%, 40%);
}
.link-preview__image {
  display: block;
  padding: 0;
  margin: 0;
  flex: 0 0 clamp(260px, (606px - 100%) * 1000, 100%);
  height: auto;
  background-position: 50% 50%;
  background-size: cover;
  background-origin: border-box;
  aspect-ratio: 2;
  border-radius: 0 8px 8px 0;
}

@media (prefers-color-scheme: dark) {
	 body { 
	 	background-color: #000;
	 	color: #fff;
	 }
	 a { color: #fff; }
	 a:hover {color: #fff;}
	 h1, h2, h3, h4 {color: #fff;}
	.bg-white { background-color: #000!important; }
	.navbar-light .navbar-brand,
	.navbar-light .navbar-brand:hover, 
	.navbar-light .navbar-brand:focus,
	.navbar-light .navbar-nav .nav-link,
	.navbar-light .navbar-nav .nav-link:hover, 
	.navbar-light .navbar-nav .nav-link:focus {
		color: #fff !important;
	}
	.navbar-light .navbar-toggler-icon {
		background-image: $navbar-dark-toggler-icon-bg;
	}
	.tags { color: #bdbdbd !important;}
	.tags span { border-color: #666 !important; }
	.site-footer {
		background-color: #1f1f1f;
		border-color: #343434;
	}
	.newsletter-wrap,
	.site-footer .footer-bottom {
				border-color: #343434;

	}
	p.caption {
    //font-style: italic;
    text-align: center;
    margin-bottom: 30px;
    font-size: 14px;
    color: #777;
  
  }
	hr,
	.header {border-color: #343434; }

	.btn-primary {
		background-color: #fff;
		color: #000;
	}
	.btn-primary:hover {
		background-color: #999;
		color: #000;
	}
	.product-purchase .proposition .bi-check {
		color: #fff;
	}
	.floating-subscribe-button {
		background-image: url("/assets/mail.svg");
;
	}
	.navbar {
		border-width: 1px 0;
		border-style: solid;
		border-color: #343434;
	}
}

.modal.newsletter {
	.modal-header {
		padding-bottom: 0;
		border:none;
	}
	.modal-body {
		padding: 0;
	}
}
  .twentytwenty-horizontal .twentytwenty-handle:before, .twentytwenty-horizontal .twentytwenty-handle:after, .twentytwenty-vertical .twentytwenty-handle:before, .twentytwenty-vertical .twentytwenty-handle:after {
  content: " ";
  display: block;
  background: white;
  position: absolute;
  z-index: 30;
  -webkit-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5); }

.twentytwenty-horizontal .twentytwenty-handle:before, .twentytwenty-horizontal .twentytwenty-handle:after {
  width: 3px;
  height: 9999px;
  left: 50%;
  margin-left: -1.5px; }

.twentytwenty-vertical .twentytwenty-handle:before, .twentytwenty-vertical .twentytwenty-handle:after {
  width: 9999px;
  height: 3px;
  top: 50%;
  margin-top: -1.5px; }

.twentytwenty-before-label, .twentytwenty-after-label, .twentytwenty-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%; }

.twentytwenty-before-label, .twentytwenty-after-label, .twentytwenty-overlay {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s; }

.twentytwenty-before-label, .twentytwenty-after-label {
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  transition-property: opacity; }

.twentytwenty-before-label:before, .twentytwenty-after-label:before {
  color: white;
  font-size: 13px;
  letter-spacing: 0.1em; }

.twentytwenty-before-label:before, .twentytwenty-after-label:before {
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  line-height: 38px;
  padding: 0 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }

.twentytwenty-horizontal .twentytwenty-before-label:before, .twentytwenty-horizontal .twentytwenty-after-label:before {
  top: 50%;
  margin-top: -19px; }

.twentytwenty-vertical .twentytwenty-before-label:before, .twentytwenty-vertical .twentytwenty-after-label:before {
  left: 50%;
  margin-left: -45px;
  text-align: center;
  width: 90px; }

.twentytwenty-left-arrow, .twentytwenty-right-arrow, .twentytwenty-up-arrow, .twentytwenty-down-arrow {
  width: 0;
  height: 0;
  border: 6px inset transparent;
  position: absolute; }

.twentytwenty-left-arrow, .twentytwenty-right-arrow {
  top: 50%;
  margin-top: -6px; }

.twentytwenty-up-arrow, .twentytwenty-down-arrow {
  left: 50%;
  margin-left: -6px; }

.twentytwenty-container {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  z-index: 0;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }
  .twentytwenty-container img {
    max-width: 100%;
    position: absolute;
    top: 0;
    display: block; }
  .twentytwenty-container.active .twentytwenty-overlay, .twentytwenty-container.active :hover.twentytwenty-overlay {
    background: rgba(0, 0, 0, 0); }
    .twentytwenty-container.active .twentytwenty-overlay .twentytwenty-before-label,
    .twentytwenty-container.active .twentytwenty-overlay .twentytwenty-after-label, .twentytwenty-container.active :hover.twentytwenty-overlay .twentytwenty-before-label,
    .twentytwenty-container.active :hover.twentytwenty-overlay .twentytwenty-after-label {
      opacity: 0; }
  .twentytwenty-container * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box; }

.twentytwenty-before-label {
  opacity: 0; }
  .twentytwenty-before-label:before {
    content: attr(data-content); }

.twentytwenty-after-label {
  opacity: 0; }
  .twentytwenty-after-label:before {
    content: attr(data-content); }

.twentytwenty-horizontal .twentytwenty-before-label:before {
  left: 10px; }

.twentytwenty-horizontal .twentytwenty-after-label:before {
  right: 10px; }

.twentytwenty-vertical .twentytwenty-before-label:before {
  top: 10px; }

.twentytwenty-vertical .twentytwenty-after-label:before {
  bottom: 10px; }

.twentytwenty-overlay {
  -webkit-transition-property: background;
  -moz-transition-property: background;
  transition-property: background;
  background: rgba(0, 0, 0, 0);
  z-index: 25; }
  .twentytwenty-overlay:hover {
    background: rgba(0, 0, 0, 0.5); }
    .twentytwenty-overlay:hover .twentytwenty-after-label {
      opacity: 1; }
    .twentytwenty-overlay:hover .twentytwenty-before-label {
      opacity: 1; }

.twentytwenty-before {
  z-index: 20; }

.twentytwenty-after {
  z-index: 10; }

.twentytwenty-handle {
  height: 38px;
  width: 38px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -22px;
  margin-top: -22px;
  border: 3px solid white;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  border-radius: 1000px;
  -webkit-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  z-index: 40;
  cursor: pointer; }

.twentytwenty-horizontal .twentytwenty-handle:before {
  bottom: 50%;
  margin-bottom: 22px;
  -webkit-box-shadow: 0 3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0 3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 0 3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5); }
.twentytwenty-horizontal .twentytwenty-handle:after {
  top: 50%;
  margin-top: 22px;
  -webkit-box-shadow: 0 -3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0 -3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 0 -3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5); }

.twentytwenty-vertical .twentytwenty-handle:before {
  left: 50%;
  margin-left: 22px;
  -webkit-box-shadow: 3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5); }
.twentytwenty-vertical .twentytwenty-handle:after {
  right: 50%;
  margin-right: 22px;
  -webkit-box-shadow: -3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: -3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: -3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5); }

.twentytwenty-left-arrow {
  border-right: 6px solid white;
  left: 50%;
  margin-left: -17px; }

.twentytwenty-right-arrow {
  border-left: 6px solid white;
  right: 50%;
  margin-right: -17px; }

.twentytwenty-up-arrow {
  border-bottom: 6px solid white;
  top: 50%;
  margin-top: -17px; }

.twentytwenty-down-arrow {
  border-top: 6px solid white;
  bottom: 50%;
  margin-bottom: -17px; }


.nfte.nfte--loaded {
	margin: 0 auto;
}

.jekyll-linkpreview-wrapper {
	a {text-decoration: none;}
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 8px;
}


p.link-title {
	line-height: 1.4em;
	font-weight: 700;
}

p.link-title {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

.jekyll-linkpreview-wrapper-inner {
  padding: 20px;

}

.jekyll-linkpreview-image {
	width: 160px;
	float: right;
	display: inline-block;
	margin-left: 30px;
}

.jekyll-linkpreview-content {
  overflow: hidden;
}

.jekyll-linkpreview-body {
  margin-right: 110px;
}

.jekyll-linkpreview-body-nog {
  margin-right: 10px;
}


