---
layout: default
title: Art, design & code.
menu: false
eleventyExcludeFromCollections: true
---
<div class="h-[30px] border-b border-[#000]" style="background-image: url('/images/pattern1.png');"></div>

<div class="container mt-5 max-w-6xl mx-auto px-6">
	<div class="lg:grid gap-8 lg:grid-cols-2 ">
		
		{% assign sort = collections.Article | sort: 'date' | reverse %}
		{% for item in sort limit:1%}
			{% include 'article-card-large' %}
		{% endfor %}
		
		<div class="grid gap-8 grid-cols-2 ">
			{% assign sort = collections.Article | sort: 'date' | reverse %}
			{% for item in sort limit: 4 offset: 1 %}
				{% include 'article-card-small' %}
			{% endfor %}
		</div>
		<a href="/articles">See all articles »</a>

	</div>
</div> <!--/container -->


{% for item in collections.Article | limit: 1 %}
	{% if item.data.featured == 1 %}
	<a href="{{ item.url }}">
	<div class="feature my-12 py-24 bg-cover bg-center border-y border-[#000]" style="background-image: url('{{ item.data.banner }}?tr=w-1200');">
		<div class="max-w-6xl mx-auto px-6">
		<div class="feature-card border border-[#000] bg-white p-10 md:w-1/2">
			<h3 class="text-3xl mb-3 hover:underline">{{ item.data.title }}</h3>
			<p class="intro mb-3 text-[#000] ">{{ item.data.description }}</p>
			<p class="meta text-xs mb-4">
				{{ item.data.date | date: "%-d %B %Y"}} 
			</p>
			{% include 'tags' %}
		</div>
		</div>
	</div>
</a>
	{% endif %}
{% endfor %}

<div class="container mt-5 max-w-6xl mx-auto px-6 py-6">
	<div class="col-12">
		<h2 class="title mb-4">Artwork</h2>
	</div>
	<div class="grid gap-6 sm:grid-cols-2 md:grid-cols-4">

	{% assign gallery-sorted = collections.Artwork | sort: 'date' | reverse %}
	{% for item in gallery-sorted limit: 8 %}
		{% include 'gallery-teaser' %}
	{% endfor %}
<div class="col-12">
		<p><a href="/artwork">See all artwork »</a></p>
	</div>
</div>

</div>